$color-em: #f5bc52;

html,body {
  margin: 0;
  font-family: sans-serif;
  background: #fff;
}
h1,h2,h3 {
  text-transform: uppercase;
  font-size: 32pt;
  margin-bottom: 0;
}
em {
  color: $color-em;
  font-style: normal;
}
i.fa { margin-right: 6px; }

/* -- Style -- */
a { color: #000 }
a:hover { color: #666 }
.title { text-decoration: none; }
.page-content {
  max-width: 100%;
  width: 800px;
  margin: 0 auto;
}
.contact-links {
  list-style: none;
  margin-top: 0;
  padding: 0;
  
  li {
    display: inline-block;
    margin-right: 1em;
    font-size: 18px;
  }
}
.project {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  margin-bottom: 1em;
  color: #fff;
  text-decoration: none;

  h3 {
    position: absolute;
    left: 1em;
    bottom: 1em;
    margin: 0;
    font-size: 16pt;
    font-weight: normal;

    padding: .5em;
    background: rgba(0,0,0,.5);
    color :#fff;
  }
}
  
.project img, .post-content img, .post-content .cover-image {
    width: 100%;
    min-height: 300px;
    background: #222;
}
.post-content img {
    min-height: 0;
    box-shadow: 0 2px 16px rgba(0,0,0,.2);
    margin: 1em 0;
}
img.cover-image {
  box-shadow: none;
  margin: 0;
}